{% extends "base.html" %}
{% block content %}

<div class="container mt-5" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1">
                Customer List & Search
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2">
                Add Customers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab6-tab" data-bs-toggle="tab" href="#tab6">
                Add Parts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab7-tab" data-bs-toggle="tab" href="#tab7">
                Add Services
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3">
                Schedule Job
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab4-tab" data-bs-toggle="tab" href="#tab4">
                Unpaid Bills and Bill Payment
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab5-tab" data-bs-toggle="tab" href="#tab5">
				Bill History and Overdue Bill
            </a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="tab1">
            <div class="container mt-5">
                <h2 class="mb-4">Existing customers</h2>
                <form method="post" action="/admin" class="mb-3">
                    <div class="mb-3">
                        <input type="text" name="searchInput" class="form-control mb-3" placeholder="Search existing customers">
                        <button type="submit" class="btn btn-primary">Search for Customer</button>
				    </div>
				</form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>First Name</th>
                        <th>Family Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
        			{% for customer in customer_list %}
        			    <tr>
        			        {% for field in customer.values() %}
        			            <td>{{field}}</td>
        			        {% endfor %}
        			    </tr>
        			{% endfor %}
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2">
            <div class="container mt-5">
                <h3 class="mb-4">New Customer</h3>
                <form method="post" action="/admin/add_cust">
                    <div class="mb-3">
                        <label for="inputField" class="form-label">Customer Name:</label>
                        <input type="text" name="customer_first_name" id="customer_first_name" class="form-control" placeholder="Please enter customer First Name" pattern="[A-Za-z\s]+">
                        <input type="text" name="customer_family_name" id="customer_family_name" class="form-control" placeholder="Please enter customer Family Name" pattern="[A-Za-z\s]+">
                        <input type="text" name="customer_email" id="customer_email" class="form-control" placeholder="Please enter customer email" pattern="[0-9A-Za-z\s@.]+">
                        <input type="text" name="customer_phone" id="customer_phone" class="form-control" placeholder="Please enter customer phone" pattern="[0-9]+">
                    </div>
                    <button type="submit" class="btn btn-success">Create New Customer</button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="tab6">
            <div class="container mt-5">
                <div class="mb-4">
                    <h3>New Part</h3>
                    <form method="post" action="/admin/add_part">
                        <div class="mb-3">
                            <label for="inputField" class="form-label">Part Name:</label>
                            <input type="text" name="part_name" id="part_name" class="form-control" placeholder="Enter part name">
                            <input type="text" name="part_price" id="part_price" class="form-control" placeholder="Enter part price" pattern="[0-9.]+">
                        </div>
                        <button type="submit" class="btn btn-success">Create New Part</button>
                    </form>
                    <h3>Current Part</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Part ID</th>
                            <th>Part Name</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
        			    {% for part in part_list %}
        			        <tr>
        			            {% for field in part.values() %}
        			                <td>{{field}}</td>
        			            {% endfor %}
        			        </tr>
        			    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab7">
            <div class="container mt-5">
                <div class="mb-4">
                    <h3>New Service</h3>
                    <form method="post" action="/admin/add_svc">
                        <div class="mb-3">
                            <label for="inputField" class="form-label">Service Name:</label>
                            <input type="text" name="service_name" id="service_name" class="form-control" placeholder="Enter additional information">
                            <input type="text" name="service_price" id="service_price" class="form-control" placeholder="Enter part price" pattern="[0-9.]+">
                        </div>
                        <button type="submit" class="btn btn-success">Create New Service</button>
                    </form>
                    <h3>Current Service</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Service ID</th>
                            <th>Service Name</th>
                            <th>Cost</th>
                        </tr>
                        </thead>
        			    {% for service in service_list %}
        			        <tr>
        			            {% for field in service.values() %}
        			                <td>{{field}}</td>
        			            {% endfor %}
        			        </tr>
        			    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3">
            <div class="container mt-5">
                <div class="mb-4">
                    <h3>Schedule a new job</h3>
                    <form method="post" action="/admin/schedule_job">
                        <div class="mb-3">
                            <label for="customer" class="form-label">Customer:</label>
                            <select name="customer" id="customer" class="form-select">
                                {% for customer in all_customer %}
                                <option value="{{ customer.customer_id }}">{{ customer.first_name }} {{ customer.family_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
						<div class="mb-3">
                            <label for="customer" class="form-label">Date:</label>
                            <input type="text" name="date" class="form-control mb-3" placeholder="Input date of format: YYYY-MM-DD. e.g.1970-12-31">
						</div>
                        <div class="mb-3">
                            <label for="service" class="form-label">Service:</label>
                            <select name="service" id="service" class="form-select">
                                {% for service in all_services %}
                                <option value="{{ service.service_id }}">{{ service.service_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity:</label>
                            <input type="number" name="service_quantity" id="service_quantity" class="form-control" min="1" max="9">
                        </div>
                        <div class="mb-3">
                            <label for="part" class="form-label">Part:</label>
                            <select name="part" id="part" class="form-select">
                                {% for part in all_parts %}
                                <option value="{{ part.part_id }}">{{ part.part_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity:</label>
                            <input type="number" name="part_quantity" id="part_quantity" class="form-control" min="1" max="9">
                        </div>
                        <button type="submit" class="btn btn-success">Schedule a new job</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab4">
            <div class="container mt-5">
                <h3>All unpaid bills</h3>
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Bill ID</th>
                        <th>Customer</th>
                        <th>Amount Due</th>
                        <th>Payment Status</th>
                    </tr>
        		    {%for unpaid in unpaid_list %}
        		       <tr>
        		           {% for field in unpaid.values() %}
        		               <td>{{field}}</td>
        		           {% endfor %}
        		       </tr>
        		    {%endfor %}
                </table>
			</div>
        </div>
		<div class="tab-pane fade" id="tab5">
            <div class="container mt-5">
                <div class="mb-4">
			        <h3>All bill history</h3>
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Job Date</th>
                            <th>Total Cost</th>
                            <th>Completed</th>
                            <th>Paid</th>
			        		<th>Overdue</th>
                        </tr>
                		{% for bill in bill_list %}
                		    <tr>
                		        {% for field in bill.values() %}
                		            <td>{{field}}</td>
                		        {% endfor %}
                		    </tr>
                		{% endfor %}
                    </table>
			    </div>
			</div>
		</div>
    </div>
</div>

{% endblock %}